a:link, a:link{
	
	text-decoration: none;
	font-size: font-size(font-size-normal);
	font-weight: bold;
	line-height: 1.5;
	
}
.container{
	overflow: hidden;
	flex: 1;
}
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
ul{
	padding: 0;
	list-style: none;
}
footer{
	padding: 8.33333vw;
}
::selection {
    background: blue;
    color: #fff;
    text-shadow: none;
}